
<div style="text-align: center; min-height: 70%;">
    <div style="text-align: center; height: 60vh;">
        <div ng-repeat="message in selectedProject.messages track by $index">
            <h3 style="text-align: center; padding-bottom: 2%; text-decoration: underline">{{ message.auteur }}: </h3>
            <p style="text-align: center">{{ message.message }}</p>
        </div>
    </div>
</div>

<div>
<input type="button" value="ajouter un message" style="display: block; margin: auto" ng-click="showNewMessageBox()"/>

    <div ng-show="showNewMessage" style="padding-top: 2%">
    <form>
        <input required style="padding-bottom:2px; display: block; margin: auto" type="text" placeholder="Votre nom" ng-model="name" minlength="1" maxlength="15">
        <textarea  required style="margin-top: 2px;width:500px !important;height:150px !important;display: block; width:20% ;margin: auto" type="text" placeholder="Entrez votre message ici"
                   ng-model="newMessage" minlength="1" maxlength="200" cols="40" rows="5" ></textarea>
        <input style="display: block; margin: auto" type="submit" ng-click="addMessage()">
    </form>
    </div>
</div>